#section-4 {
    background-color: #f5f8fa;
      padding: 5rem 0;
      text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    width: 40em;
    max-width: 100%;
  }
  
  .form-header {
      font-size: 2em;
      margin-bottom: 1em;
  }
  .form-text {
      color: #7b94a5;
      font-size: 1.5em;
      margin-bottom: 3em;
  }
        
  .input-container {
    border: solid 1px #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 0 12px;
    background-color: #fff;
    position: relative;
    width: 100%;
  }

  .input-container input:hover {
    cursor: pointer;
  }

  .input-container input {
    border: none;
    font-size: 16px;
    outline: 0;
    padding: 16px 0 10px;    
    width: 100%;

  }
  
  .input-container label {
    font-size: 16px;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 16px) scale(1); 
    transition: all .1s ease-in-out;
  }

  .input-container.active_field label {
    transform: translate(0, 4px) scale(.75);
  }

  .input-container.empty label {
    transform: translate(0, 4px) scale(.75);
    color: red;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
  }
  .form-row .input-container:first-child {
    margin-right: 10px;
  }

  .form-row .input-container:last-child {
    margin-left: 10px;
  }
      textarea {
        resize: none;
        height: 15em;
        padding-top: 20px;
        border: none;
        font-size: 16px;
        outline: 0;
        padding: 16px 0 10px;    
        width: 100%;
      }
  
      .rights {
        display: flex;
        justify-content: space-between;
        text-align: left;
        margin-top: 2em; 
      }
  
       .rights span {
        font-size: 0.7em;
        line-height: 1.7;
        margin-left: 2em;
      }
    
      .rights input {
            z-index: -1;
        }
      .rights span:before {
        display: inline-block;
        content: ' ';
        width: 2em;
        height: 2em;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70% ;
        margin: 0 1em 0 -3em;
        border-radius: 0;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16) ;
        vertical-align: top;
        }

        .rights input:checked + span::before {
          background-image: url('../../images/icons/tick-sign.png');
        }
  
      form button {
        margin-top: 3em;
        color: #fff;
        background-color: #00b6dc;
        padding: 1.3em 3em;
        border: none;
        border-radius: 4em;
      }
  
      form button:hover {
        cursor: pointer;
        background-color: #0f89a1;
      }


  